---
layout: layouts/default.njk
permalink: /
---
<p>Welcome! You're on your way to building an awesome website.</p>
<p>Here's a few sample posts. They live under <code>/posts</code> and can be accessed anywhere by iterating through <code>collections.posts</code>.</p>
<ul>
{%- for post in collections.posts -%}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <p>by {{ post.data.author }}</p>
    <time>on {{ post.date }}</time>
  </li>
{%- endfor -%}
</ul>