---
layout: layouts/default.njk
---

<article>
  <h1>{{ title }}</h1>
  {% if tags %}
  &sdot; <span class="post__tags p-category">{{ tags | join(', ') }}</span>
  <time>on {{ page.date | readableDate}}</time>
  {% endif %}  
  {{ content | safe }}
</article>